{% extends 'base.html' %}
{% block jscss %}

		<link rel="stylesheet" type="text/css" href="/static/css/header--footer.css"/>
		<link rel="stylesheet" type="text/css" href="/static/css/sidebar_wrap.css"/>
		<link rel="stylesheet" type="text/css" href="/static/css/carts.css"/>
	
		<script src="/static/js/jquery-1.12.3.js" type="text/javascript" charset="utf-8"></script>
		<script src="/static/js/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>
		<script src="/static/js/header--footer.js" type="text/javascript" charset="utf-8"></script>
		<script src="/static/js/sidebar.js" type="text/javascript" charset="utf-8"></script>
		<script src="/static/js/cart.js" type="text/javascript" charset="utf-8"></script>

{% endblock %}
{% block headerwarp %}
		<!--页头部分开始-->
		<div id="header_wrap" style="height: 160px;">
{% endblock %}
{% block zhuti %}
				
				<!--页头主体部分-->
				<div class="top_main">
					<!--logo-->
					<div class="logo">
						<img src="/static/img/800fang-logo.jpg" />
					</div>
					<!--搜索-->
					<div class="top_search">
{#						<form class="tm_search">#}
{#							<input class="tm_search1" type="text" style="display: none" value="" />#}
{#							<input class="tm_search2" value="搜索" style="display: none" type="submit">#}
{#						</form>#}
						<div class="recommend">
							<ul>
{#								<li><a href="#">金戈</a></li>#}
{#								<li><a href="#">汇仁</a></li>#}
{#								<li><a href="#">阿胶</a></li>#}
{#								<li><a href="#">同仁堂</a></li>#}
{#								<li><a href="#">六味地黄丸</a></li>#}
{#								<li><a href="#">伟哥</a></li>#}
{#								<li><a href="#">恩必普</a></li>#}
{#								<li><a href="#">优甲乐</a></li>#}
{#								<li><a href="#">希爱力</a></li>#}
{#								<li><a href="#">开同</a></li>#}
							</ul>
						</div>
					</div>
					
					<!--证  / 保-->
					<div class="top_ensure">
						<p class="top_ensure2">
							<a href="http://www.800pharm.com/zhuanti/insurance/index.html" ><img class="ii2" src="/static/img/i-2.png" /></a>
							<span>正品保险</span>
						</p>
						<p class="top_ensure1">
							<img class="ii1" src="/static/img/i-1.png" />
							<span>国A20140001</span>
						</p>
					</div>
				</div>				
				</div>
		<!--页头部分结束-->

{% endblock %}	
{% block main %}

		<!--页面主体  开始-->
		<div class="main_sh_wp" id="main_sh_wp">
			<div class="sh_wp_content">
				<div class="swc_top">
					<span>您当前的位置：</span>
					<a href="{% url 'contents:index' %}">首页</a>
					> <a href="{% url 'carts:cart' %}">购物车</a> > 待收货
				</div>
                {% if not data_dict %}

                <!--购物车  无商品    开始-->
                <div class="no_shp" style="display: block;">
                    <div class="cont">
                        <div class="lshp"></div>
                        <div class="rshp">
                            <span class="tit">您的订单页暂时是空的，您可以：</span>
                            <span>去<a href="{% url 'carts:cart' %}"> 购物车 </a> 进行下单</span>

                        </div>
                    </div>

                </div>
                <!--购物车  无商品    结束-->
				{% else %}

				<!--购物车  添加商品    开始 -->
				<div class="shop_cart" id="shop_cart" style="display: block;">
					
					<!--列表   开始-->
					<table width="1190" border="0" cellspacing="0" cellpadding="0" align="center" class="cart_t">
			          <tr>
			          	<th style="text-align:left;"  width="20"></th>
{#			          	<th style="text-align:left;"  width="20"><input name="checkAll"  type="checkbox" checked="checked" /></th>#}
			            <th width="375" class="pad">商品</th>
			            <th width="180">会员价(元)</th>
			            <th width="163">优惠</th>
			            <th width="88">数量</th>
			            <th width="88"></th>
			            <th width="110"></th>
			          </tr>

			       	</table>				
					<!--列表   结束-->

					<!--加入的购物列表    开始 -->
					<div class= "shop_content">
                        {% for code,prods in data_dict.items %}

                        <div class='shopper_main'>
                            <div class='shopper_n'>
                                <div class="shopChoose"><a href="" target="_blank"></a></div>
                                <div class="shopChoose">订单号：<a href="" target="_blank">{{ code }}</a>&nbsp;&nbsp;&nbsp;&nbsp;订单总价：<span style="color: #f00">{{ prods.0.total_amount }}</span></div>
{#                                <div>&nbsp;&nbsp;&nbsp;&nbsp;<button style="color: #f00">购买</button></div>#}
                                <div><a href="#"><input type="button" id="tb_btn" class="tb_btn" value="确认收货"/></a></div>
                            </div>

                            <table width="1188" class="cart_list" >
                                {% for prod in prods %}
                                <tr>
                                    <td width="375"><div class="b_pord"><p class="pic"><a href=""><img id="goodImg" src="{{ prod.img }}" style="width: 58px; height: 58px;"/></a></p><p class="pord_n"><a href="" title="" target="_blank">{{ prod.name }}</a></p></div></td>
                                    <td width="180"><p class="s_price">价格：<span class="price">{{ prod.price }}</span></p></td>
                                    <td width="163"><p class="pref">全场满500送惊喜大礼包</p></td>
                                    <td width="88">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ prod.num }}</td>
                                    <td width="88"></td>
                                    <td width="110"></td>
                                </tr>

                                {% endfor %}
                            </table>
                        </div>

                        {% endfor %}
                    </div>
					<!--加入的购物列表    结束 -->	
						
					<!--结算    star-->
{#					<div class="b_total">#}
{#						<div class="total_choose">#}
{#							<input type="checkbox" class="select_all_check" name="checkAll" checked /><label>全选  </label><span id="clearCarts">删除</span>#}
{#						</div>#}
{#						<p class="total">商品原总价（不含运费）：<span class="t_price" id="allTotal">￥<span class="amount" >{{ total_price }}</span></span></p>#}
{#                        <a href="{% url 'orders:pay' 0 %}"><input type="button" id="buy_btn" class="buy_btn" value="全部支付"/></a>#}
{#                        <a href="#" id="buy_btn" class="buy_btn">去结算</a>#}
{#					</div>	#}
					<!--结算    end-->					
				</div>
				<!--购物车  添加商品    结束 -->
                {% endif %}
			</div>
		</div>		
		<!--页面主体  结束-->


{% endblock %}
		
		

